*{
	margin: 0;
	padding: 0;
}
body {  
	font-family:Arial, Helvetica, sans-serif;   
	overflow-x: hidden;
}
img {   
	max-width: 100%;
}
/*xử lý menu*/
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #f5f5f5;
}
.dropdown:hover .dropdown-content{
	display: block;
}
/*list product*/
.list-product-title{
	width: 100%;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;

}
.list-product-subtitle{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

/*product card*/
.card-product{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;	
}
/*footer*/
.footer-content{
	width: 25%;
	float: left;
}
.footer-content p{
	margin: 0%;
	color: #ff3c00;
	font-weight: bold;
}
.footer-content span{
	display: inline-block;
}
.footer-list {
	list-style: none;
	margin: 0%;
}
.footer-item{
	text-decoration: none;
	text-transform: capitalize;
}
.footer-item a{
	color: #000;
}
.clear{
	clear: both;
}